/* Variables */
:root {

  /* General */
  --base-border-radius: 3px;
  --base-border-width: 1px;
  --base-line-height: 1.5;
  --base-margin: 0.5rem;
  --base-padding: 0.5rem;
  --copy-height: 2rem;
  --header-height: 3.5rem;
  --recipe-height: 7rem;

  /* Backgrounds */
  --header-background-color: rgba(63, 81, 181, 1);
  --primary-background-color: rgba(237, 237, 237, 1);
  --recipe-overlay-background-color: rgba(0, 0, 0, .5);

  /* Fonts */
  --base-font-bold: 700;
  --copy-font-color: rgba(255, 255, 255, 1);
  --copy-font-size: 0.7rem;
  --header-font-color: rgba(255, 255, 255, 1);
  --header-font-size: 1.1rem;
  --primary-font-color: rgba(0, 0, 0, 1);
  --primary-font-family: "Helvetica", "Verdana", sans-serif;
  --primary-font-size: 0.9rem;
  --recipe-font-color: rgba(255, 255, 255, 1);

  /* Icons */
  --header-icon-size: var(--header-font-size);
}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* General */
html, body {
  height: 100%;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--primary-background-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
  line-height: calc(var(--primary-font-size) * var(--primary-line-height));
  color: var(--primary-font-color);
}

/* Header */
header {
  --header-inline-margin: calc((var(--base-padding) * 4) + var(--header-icon-size));
  width: 100%;
  height: var(--header-height);
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: var(--header-background-color);
  color: var(--header-font-color);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.headerTitle {
  width: 100%;
  display: block;
  font-size: var(--header-font-size);
  line-height: calc(var(--header-font-size) * var(--base-line-height));
  font-weight: var(--base-font-bold);
  text-align: center;
  margin: auto var(--header-inline-margin);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerSearchBox {
  display: none;
  align-items: center;
  flex: 1;
  margin-inline: var(--header-inline-margin);
}

#headerBack {
  position: absolute;
  font-size: var(--header-icon-size);
  line-height: var(--header-icon-size);
  font-weight: var(--base-font-bold);
  left: var(--base-margin);
  top: calc(((var(--header-height) - var(--header-icon-size)) / 2) - var(--base-padding));
  padding: var(--base-padding);
  cursor: pointer;
}

#headerSearch, #headerRefresh {
  position: absolute;
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  top: calc((var(--header-height) - var(--header-icon-size)) / 2);
}

#headerSearch {
  left: calc(var(--base-padding) * 2);
}

#headerRefresh {
  right: calc(var(--base-padding) * 2);
}

#recipeSearch {
  width: 100%;
}

/* Main */
main {
  padding: var(--header-height) 0 var(--copy-height);
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* List of recipes */
.recipe {
  outline: 1px solid var(--header-background-color);
  position: relative;
  margin: var(--base-margin);
  font-weight: var(--base-font-bold);
  height: var(--recipe-height);
  overflow: hidden;
  border-radius: var(--base-border-radius);
}

.recipe-title {
  position: absolute;
  inset: 0;
  display: grid;
  align-items: end;
  padding: calc(var(--base-padding) * 2);
  background-color: var(--recipe-overlay-background-color);
  color: var(--recipe-font-color);
  font-size: var(--primary-font-size);
  line-height: calc(var(--primary-font-size) * var(--base-line-height));
}

.recipe-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Recipe details */
.ingredients h2, .steps h2, .notes h2 {
  margin-inline: var(--base-margin);
}

.ingredients ul, .steps ol {
  padding-inline-start: var(--base-padding);
}

.ingredients li {
  position: relative;
  margin-inline: calc(var(--base-margin) * 2);
  margin-block: var(--base-margin);
  list-style: none;
}

.ingredients li::before {
  content: "\00BB";
  position: absolute;
  margin-inline-start: calc(var(--base-margin) * -1.5);
  top: 0;
}

.steps li {
  position: relative;
  margin-inline: calc(var(--base-margin) * 3.5);
  margin-block: var(--base-margin);
  list-style-type: decimal-leading-zero;
}

.steps li::before {
  position: absolute;
  margin-inline-start: calc(var(--base-margin) * -1.5);
  top: 0;
}

.notes p {
  margin-inline: var(--base-margin);
}

/* Copyright */
#copyright {
  width: 100%;
  height: var(--copy-height);
  color: var(--copy-font-color);
  font-size: var(--copy-font-size);
  font-style: oblique;
  text-align: center;
  background: var(--header-background-color);
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Loader */
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader #spinner {
  box-sizing: border-box;
  stroke: rgba(183, 58, 58, 1);
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}